
/*
.iluckly2003right 
{ 
    background: #C3D9FF; 
    height:120px; 
    border:1px solid #BBBBBB; 
}
.iluckly2003right a:link 
{ 
    color: #0057b6; 
    text-decoration: none; 
} 
.iluckly2003right a:visited 
{ 
    color: #0057b6; 
    text-decoration: none; 
} 
.iluckly2003right a:active,a:hover 
{ 
    color: #0057b6; 
    text-decoration: underline; 
}
*/

$header-bg: #263347;
$subtitle-color: lighten($header-bg, 58);
$nav-bg: desaturate(lighten(#8fc17a, 18), 5);
$sidebar-bg: desaturate(#eceff5, 8);
$sidebar-link-color: saturate(#526f9a, 10);
$sidebar-link-color-hover: darken(#7ab662, 9);
/* Navigation */
$nav-bg: #ccc !default;
$nav-color: darken($nav-bg, 38) !default;
$nav-color-hover: darken($nav-color, 25) !default;

.post-footer{margin-top:10px;padding:5px;background:none repeat scroll 0pt 0pt #eee;font-size:90%;color:gray}