.iluckly2003right 
{ 
    background: #C3D9FF; 
    height:120px; 
    border:1px solid #BBBBBB; 
}
.iluckly2003right a:link 
{ 
    color: #0057b6; 
    text-decoration: none; 
} 
.iluckly2003right a:visited 
{ 
    color: #0057b6; 
    text-decoration: none; 
} 
.iluckly2003right a:active,a:hover 
{ 
    color: #0057b6; 
    text-decoration: underline; 
}